:host

	.card
		background #fff
		height auto
		margin 0.5rem
		padding 0.5rem
		position relative
		width 300px
		border-radius 12px
		box-shadow 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12)
		border-radius 4px

		i
			color  #1F3A54

		.name
			font-size 15px
			display grid
			grid-template-areas 'name username'
			grid-template-columns 32px auto
			grid-template-rows 32px
			align-items center

			span
				color #0080B6
				font-weight 600

		.info
			max-height 0
			visibility hidden
			opacity 0
			transition opacity 300ms ease, visibility 300ms ease, max-height 400ms ease
			will-change max-height
			font-size 13px
			font-family 'Roboto', 'Arial', 'Helvetica', sans-serif
			overflow hidden

			span
				color #01A4E0

			&[show]
				max-height 300px
				opacity 1
				visibility visible
				transition opacity 300ms ease, visibility 300ms ease, max-height 700ms ease

			& > div
				display grid
				grid-template-areas 'icon label'
				grid-template-columns 32px auto
				grid-template-rows 32px
				align-items center

				&.adress
					i
						color #60B070
						cursor pointer

		.email
			font-family 'Roboto', 'Arial', 'Helvetica', sans-serif
			font-size 13px
			display grid
			grid-template-areas 'icon email'
			grid-template-columns 32px auto
			align-items center

			span
				color #01A4E0

	/**
	 * Media Queries
	 */
	@media only screen and (max-width: 425px)
		.card
			width 80vw