// @import 'assets/css/mixins/animation'

/**
 * Animation classes
 */
.animationPulse
	animation pulse 600ms
	box-shadow 0 0 0 10px rgba(#fff, 0)!important
	border-radius 50%!important

.animationLoading {
    animation-duration 1s
    animation-fill-mode forwards
    animation-iteration-count infinite
    animation-name placeHolderShimmer
    animation-timing-function linear
    background #f6f7f8
    background linear-gradient(to right, #f5f5f5 8%, #fcfcfc 18%, #f5f5f5 33%)
    background-size 800px 104px
    position relative
}

/**
 * Animation keyframes
 */

@keyframes pulse {
  0% {
		box-shadow 0 0 0 0 #61DAFB
		}
}

@keyframes placeHolderShimmer{
    0% {
        background-position -468px 0
    }
    100% {
        background-position 468px 0
    }
}