:host
	font-family 'Montserrat', 'Arial', 'Helvetica', sans-serif

	.card-list
		display flex
		flex-wrap wrap
		justify-content center
		max-height calc(100vh - 68px)
		overflow-y auto
		margin-top 4px
