:host
	position absolute

	.root
		position fixed
		z-index 10000
		will-change transform
		min-height 50px
		min-width 150px
		padding 0 16px
		border-radius 8px
		font-size 14px
		font-weight 500
		color #FFF
		background-color rgba(0, 0, 0, .77)
		transition transform 300ms
		transform 0.5s cubic-bezier(0.49, -0.89, 0.46, 2)

		.text-slot
			display flex
			align-items center
			margin 16px 0

		// Need to be implemented (?)
		.action-slot
			display flex
			align-items center
			justify-content center
			margin 16px 0 16px 32px

	&(.toast-top)
		.root
			top -50px

	&(.toast-top[active])
		.root
			transform translateY(66px)

	&(.toast-bottom)
		.root
			bottom -50px

	&(.toast-bottom[active])
		.root
			transform translateY(-66px)

	&(.toast-left)
		.root
			left 16px

	&(.toast-right)
		.root
			right 16px

	&(.toast-center)
		.root
			top -50px
			width 384px
			margin auto
			right 0
			left 0

	&(.toast-center[active])
		.root
			transform translateY(66px)

	/**
	 * Media Queries
	 */
	@media only screen and (max-width: 425px)
		.root
			margin 0 16px

		&(.toast-right)
			.root
				right 0