:host
	.root
		position relative

		& input
			transition 200ms ease
			border-top none
			border-right none
			border-left none
			border-bottom 2px #0080B6 solid
			background-color transparent
			outline none
			color white
			font-size 15px
			opacity 1
			width 100%
			font-family 'Montserrat', 'Arial', 'Helvetica', sans-serif

			&:focus
				opacity 1
				border-bottom 2px #01A4E0 solid

				+ label
					bottom 23.5px
					color #01A4E0
					font-size 12px

			&[hasvalue] + label
				bottom 23.5px
				font-size 12px

		& label
			color #0080B6
			font-size 13px
			font-weight 500
			letter-spacing 0.5px
			position absolute
			bottom 7.5px
			left 0
			transition 200ms ease
			font-family 'Roboto', 'Arial', 'Helvetica', sans-serif
			font-size 15px